name: Build docker image

permissions:
    contents: read

on: [push]

jobs:
    build-action:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                # Base image only has amd64
                platform: ["linux/amd64"]
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            # https://github.com/docker/setup-qemu-action
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v1
            # https://github.com/docker/setup-buildx-action
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1
            - name: Build action image
              run: PLATFORM="${{ matrix.platform }}" make docker-build
              env:
                DOCKER_BUILDKIT: 1
